@charset "UTF-8";

/*Configuração para TABLETS*/

@media screen and (min-width:768px) and (max-width:992px) {
    body{
        background-image: linear-gradient(to bottom,var(--lilas),var(--verde));
    }
    #login{
        transition-duration: 0.5s;
        height: 45vh;
        columns: 2;
    }
    #imagem{
        height: 285px;
        width: 200px;
        overflow-y: hidden;

    }
    #formulario{
        width: 440px;
        transform: translate(-130px);
    }
    .campo{
        width: 50vw;
    }
    .campo input{
        padding: 10px;
    }
    .finalizaçao{
        width: 50vw;
    }
}