@charset "UTF-8";

/*Configuração para TABLETS*/

@media screen and (min-width:768px) and (max-width:992px) {
    body{
        background-image: linear-gradient(to bottom,var(--lilas),var(--verde));
    }
    #login{
        height: 45vh;
        width: 90vw;
    }
    #imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    #formulario{
        float: right;
        width: 70%;
    }
}


/*Configuração para DESKTOPS*/
@media screen and (min-width:992px) {
    body{
        background-image: linear-gradient(to bottom,var(--lilas),var(--verde));
    }
    #login{
        width: 950px;
        height: 50vh;
    }
    #imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    #formulario{
        float: left;
        width: 50%;
    }
    #formulario h1,p{
        margin-bottom: 20px;
    }
}